${ITEM_BATCH_CRON_TRAITEMENT} /scripts/itemBatchTraiterLigneFichierModif.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_TRAITEMENT} /scripts/itemBatchTraiterLigneFichierExemp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_TRAITEMENT} /scripts/itemBatchTraiterLigneFichierRecouv.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_TRAITEMENT} /scripts/itemBatchTraiterLigneFichierSupp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_STAT} /scripts/itemBatchExportStatistiques.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
