*/2 * * * * cd /scripts/ ; /scripts/itemBatchTraiterLigneFichierModif.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
1-59/2 * * * * cd /scripts/ ; /scripts/itemBatchTraiterLigneFichierExemp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
1-59/2 * * * * cd /scripts/ ; /scripts/itemBatchTraiterLigneFichierRecouv.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
*/2 * * * * cd /scripts/ ; /scripts/itemBatchTraiterLigneFichierSupp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 20 * * 0 cd /scripts/ ; /scripts/itemBatchArchiverDemandesPlusDeTroisMois.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 21 * * 0 cd /scripts/ ; /scripts/itemBatchStatutSupprimeDemandesPlusDeTroisMois.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 22 * * 0 cd /scripts/ ; /scripts/itemBatchSuppressionDemandesPlusDeTroisMois.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_STAT} cd /scripts/ ; /scripts/itemBatchExportStatistiques.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
