4-59/5 * * * * /scripts/itemBatchTraiterLigneFichierModif.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
3-58/5 * * * * /scripts/itemBatchTraiterLigneFichierExemp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
2-57/5 * * * * /scripts/itemBatchTraiterLigneFichierRecouv.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
*/5 * * * * /scripts/itemBatchTraiterLigneFichierSupp.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${ITEM_BATCH_CRON_STAT} /scripts/itemBatchExportStatistiques.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
